* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}
.color-rgba {
  color: #3A3A3A;
}
/* Fixed */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: pink;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: calc(100% - 90px);
  background: blue;
}
.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
} */

/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */
/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* bottone da aggiustare  */
.btn {
  display: inline-block;
  font-size: 20px;
  background-color: white;
}

/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
  background-color: #000000;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background:#000000;
}
.line-green::before{
  content: "|";
  color: #ADFF2F;
  font-size: 1.2em;
}
.logo_spoty{
width: 50%;
padding: 10px;
}
.loghi-under-spoty{
  height: 20px;
  padding:0 10px;
}
.loghi-menu {
  line-height: 20px;
  vertical-align: middle;
  color: white;
}

.loghi-menu a {
  line-height: 20px;
  vertical-align: middle;
}
/* menu navbar */
/* playlist */
.title-play-list h2 {
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  padding: 10px;
}
.title-play-list a {
  color: #3A3A3A;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px;
}
.title-play-list i {
  background-color: #3A3A3A;
  color: black;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
}

.playlist {
  list-style: none;
  color: #3A3A3A;
  padding-top: 10px;
}
.playlist li {
  padding-left: 10px;
  padding-bottom: 10px;
}
.playlist a {
  text-decoration: none;
  color: #3A3A3A;
}
/* /playlist */
/* footer navbar */
.main-nav-footer a {
  color: #3A3A3A;
  text-decoration: none;
  padding: 10px;
}
hr {

  background-color: #3A3A3A;
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.main a:hover {
  color:white;
}
@media screen and (max-width:552px) {
  .no-display-xs {
    display: none;
  }
  .fa-arrow-circle-down{
    width: 100%;
    margin-bottom: 5px;
  }
  .main-nav {
    width: 60px;
  }
  .main-content {
    width: calc(100% - 60px);
  }
}
@media screen and ( min-width:553px) {
  .no-display-lg{
    display: none;
  }
}
